body{
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
color: pink;
  }
  div{
    width: 900px;
    height: 100px;
    background-color: palevioletred;
    font-size: 20px;
    border-radius: 15px;
    border: solid color white(100, 4, 138);

  }
  .bloco-externo{
    background-color: palevioletred;
    border-radius: 15px;
    height: auto;
    width: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .bloco-interno{
    width: 110px;
    height: 110;
    margin:5px ;
    font-size: 70px;
    text-align: center;
  }
  .bloco1{
    background-color: aquamarine;
    width: 110px;
    height: 110px;
    margin: 5px;
    font-size: 70px;
    text-align: center;
    background-image: url(hello\ kitty1.jpg);
    background-size: 100px;
  }
  .bloco2{
    background-color: aquamarine;
    width: 110px;
    height: 110px;
    margin: 5px;
    font-size: 70px;
    text-align: center;
    background-image: url(hello\ kitty2.jpg);
    background-size: 175px;

  }
  video{
    width: 460px;
  }
  h1{
    background-color: plum;
    text-align: center;
    width: auto

  }
  label{
    color: plum;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  input{
    width: 400px;
  }
  iframe{
    width: 1200px;
  }
  @media (max-width: 500px){
    iframe{width:420px}
    a{color: rgb(209, 48, 209);}
  }
